<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>Sapphire_Favicon.png">
    <title>Sapphire</title>
  </head>
  <body>
    <noscript>
      <style type="text/css">noscript *{font-family:Roboto,Oxygen,Arial,"Helvetica Neue",Helvetica,sans-serif;}</style>
      <strong>We're sorry but Sapphire doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
