<template>
	<pre>{{ userData || "Nothing..." }}</pre>
</template>

<script>
	export default {
		name: "debug",
		data() {
			return {
				//eslint-disable-next-line
				userData: firebase.auth().currentUser
			}
		}
	}
</script>

<style scoped>
	pre {
		text-align: left !important;
	}
</style>