<template>
	<main>
		<h1>Error 404</h1>
		<p>We couldn't find that page! Feel free to <router-link to="contact">contact us</router-link> if you think this was our mistake.</p>
	</main>
</template>

<script>
	export default {
		name: "Error404"
	}
</script>

<style scoped>

</style>