<template>
  <v-container>
    <v-progress-linear indeterminate class="mb-0 pb-0"></v-progress-linear>
    <v-parallax src="pencil-1209544.jpg">
      <span class="display-4 d-block font-weight-thin">Sapphire</span>
      <span class="display-2 d-block font-weight-black">The smarter way to worksheet. Coming Soon.</span>
    </v-parallax>
  </v-container>
</template>

<script>
export default {
  name: 'Index',
  props: {
    msg: String
  }
}
</script>