<template>
    <v-progress-circular indeterminate></v-progress-circular>
</template>

<script>
	export default {
		name: "LogOut",
		data() {
			return {
			
			}
		}, created: function() {
			//eslint-disable-next-line no-undef
			firebase.auth().signOut().then(() => {
				this.$router.push("/");
            //eslint-disable-next-line no-unused-vars
			}).catch((err) => {
				//Problem Signing Out.
                //TODO: Show a dialog with this error.
			});
		}
	}
</script>

<style scoped>

</style>