<template>
    <v-app>
        <h1>Sign In</h1>
        <div>
            <v-flex md6 mx-auto sm12>
                <v-progress-circular indeterminate id="loader"></v-progress-circular>
                <div id="auth-container">
                    <!-- Firebase-UI loads its UI code in here -->
                </div>
            </v-flex>
            <v-dialog max-width="400" persistent v-model="error">
                <p>{{ errorText }}</p>
                <v-btn @click="error = false" flat>Ok</v-btn>
            </v-dialog>
        </div>
    </v-app>
</template>

<script>
    import * as firebase from "firebase/app";
    const firebaseui = require("firebaseui");
    require("firebaseui/dist/firebaseui.css");
    const BASE_URL = "http://localhost:8080/#";

    export default {
        name: "SignUp",
        components: {},
        data() {
            return {
                email: "",
                password: "",
                errorText: "",
                error: false,
            }
        }, methods: {
            reloadTo(route) {
                let href = window.location.href;
                window.location.href = href.substr(0, href.lastIndexOf("/")) + "/" + route;
                location.reload();
            },
            createFN() {
                let _this = this;
                if (document.getElementById("auth-container")) {
                    window.log("Loading FB-UI");
                    const uiConfig = {
                        callbacks: {
                            uiShown: function () {
                                document.getElementById("loader").style.display = 'none';
                            },
                            //eslint-disable-next-line no-unused-vars
                            signInSuccessWithAuthResult: function(authResult) {
                                _this.reloadTo("index");
                            },
                        },
                        signInFlow: 'redirect',
                        signInOptions: [
                            // Leave the lines as is for the providers you want to offer your users.
                            firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                            //firebase.auth.FacebookAuthProvider.PROVIDER_ID,
                            //firebase.auth.TwitterAuthProvider.PROVIDER_ID,
                            //firebase.auth.GithubAuthProvider.PROVIDER_ID,
                            {
                                provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
                                requireDisplayName: true,
                            },
                            firebase.auth.PhoneAuthProvider.PROVIDER_ID
                        ],
                        tosUrl: BASE_URL + '/tos',
                        // Privacy policy url/callback.
                        privacyPolicyUrl: BASE_URL + '/privacy',
                    };
                    //if(!window.fb_ui) {
                    try {
                        window.fb_ui = new firebaseui.auth.AuthUI(firebase.auth());
                    } catch (err) {
                        //There's probably another instance running right now, no problem here!
                    }
                    window.fb_ui.start('#auth-container', uiConfig);
                }
            }
        }, mounted() {
            this.createFN();
        }
    }
</script>

<style scoped>

</style>