<template>
    <v-app>
        <v-container fluid>
            <v-flex>
                <div v-if="state">
                    <!-- Dialog for new question -->
                    <v-dialog v-model="newQ"
                              fullscreen
                              hide-overlay
                              scrollable
                              transition="dialog-bottom-transition">
                        <v-card tile>
                            <v-list subheader
                                    three-line>
                                <v-list-tile v-for="(q, key) in qTypes"
                                             :key="key"
                                             @click="addQuestion(q.id)"
                                             ripple>
                                    <v-list-tile-avatar>
                                        <v-icon large>{{ q.icon }}</v-icon>
                                    </v-list-tile-avatar>
                                    <v-list-tile-content>
                                        <v-list-tile-title>{{ q.name }}</v-list-tile-title>
                                        <v-list-tile-sub-title>{{ q.desc }}</v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </v-list>
                        </v-card>
                    </v-dialog>
                    <div id="ws-title">
                        <v-text-field outline
                                      placeholder="Untitled Worksheet"
                                      v-if="editing"
                                      v-model="sheetData.title"></v-text-field>
                        <h1 class="headline"
                            v-else>{{ sheetData.title }}
                        </h1>
                    </div>
                    <div id="ws-actions">
                        <!-- Add Question -->
                        <div v-if="state && editing">
                            <v-btn @click="newQ = true">
                                <v-icon>add</v-icon>
                                Add Question
                            </v-btn>
                        </div>
                        <!-- Save (Editing only) -->
                        <v-btn :disabled="savingDone"
                               :loading="saving"
                               @click="saveWorksheetOnServer"
                               v-if="editing">
                            <span v-if="!savingDone">
                                <v-icon>save</v-icon>
                                Save
                            </span>
                            <div v-else>
                                <v-icon>check</v-icon>
                                Saved
                            </div>
                        </v-btn>
                        <!-- Preview (Editing only) -->
                        <v-btn @click="reloadTo('view')"
                               v-if="editing">
                            <v-icon>remove_red_eye</v-icon>
                            Preview
                        </v-btn>
                        <!-- Edit (Viewing only)  (Only accessible to owner when signed in) -->
                        <v-btn @click="reloadTo('edit')"
                               v-else-if="isOwner">
                            <v-icon>edit</v-icon>
                            Edit
                        </v-btn>
                        <v-btn @click="reloadTo('submissions')"
                               v-if="editing">
                            <v-icon>assignment</v-icon>
                            Responses
                        </v-btn>
                    </div>
                    <pre class="text-xs-left"
                         v-if="debug">
                        <b>Loaded Sheet Data</b>
                        <br>
                        <code>{{sheetData}}</code>
                        <br>
                        <b>Current Response Data</b>
                        <br>
                        <code>{{ inputs }}</code>
                    </pre>
                    <v-form ref="form"
                            v-if="!responseViewing">
                        <draggable :options="{disabled: this.viewing}"
                                   @end="drag=false"
                                   @start="drag=true"
                                   v-model="dArray">
                            <v-flex :key="item.uuid"
                                    class="item"
                                    v-bind="layout.props"
                                    v-for="(item, index) in fArray">
                                <!-- Container for options menu -->
                                <v-menu :close-on-content-click="false"
                                        :disabled="viewing"
                                        :nudge-width="200"
                                        class="full-width"
                                        offset-x
                                        style="cursor: default"
                                        transition="slide-x-reverse-transition"
                                        v-model="menus[item.data.uuid]">
                                    <div class="full-width"
                                         slot="activator">
                                        <!-- RENDERING THE QUESTION -->
                                        <QuestionRender :mode="$route.params.mode"
                                                        :data="item"
                                                        :inputs="inputs"
                                                        :questionSpecificData="questionSpecificData"
                                                        :key="item.data.uuid"
                                                        @inputUpdate="updateInputs"></QuestionRender>
                                    </div>
                                    <v-card :id="'menu' + item.data.uuid">
                                        <!-- PROPERTIES FOR THE QUESTION (Editing only) -->
                                        <v-card-title>
                                            <span>
                                                <span class="headline font-weight-bold text-xs-left">Question #{{parseInt(index) + 1}}</span>
                                                <br/>
                                                <span class="subtitle text-xs-left d-block mr-auto">{{ getQN(item.id) }}</span>
                                            </span>
                                        </v-card-title>
                                        <v-card-text>
                                            <div>
                                                <!-- Generic Properties (Colors, etc.) -->
                                                <v-text-field label="Label"
                                                              outline
                                                              v-model="fArray[index].data.text"></v-text-field>
                                                <v-select :items="questionSpecificData.color"
                                                          item-text="text"
                                                          item-value="value"
                                                          label="Text Color"
                                                          outline
                                                          v-model="fArray[index].data.textColor"></v-select>
                                                <v-select :items="questionSpecificData.color"
                                                          item-text="text"
                                                          item-value="value"
                                                          label="Background Color"
                                                          outline
                                                          v-model="fArray[index].data.bgColor"></v-select>
                                            </div>
                                            <div>
                                                <!-- Short Answer -->
                                                <v-text-field label="Answer Placeholder"
                                                              outline
                                                              v-model="fArray[index].data.answerPlaceholderText"
                                                              v-if="fields(item.id).answerPlaceholder"></v-text-field>
                                                <div>
                                                    <v-radio-group row
                                                                   v-model="fArray[index].data.answerFieldStyle"
                                                                   v-if="fields(item.id).answerFieldStyle">
                                                        <v-radio label="Outline"
                                                                 value="outline"></v-radio>
                                                        <v-radio label="Box"
                                                                 value="box"></v-radio>
                                                        <v-radio label="Solo"
                                                                 value="solo"></v-radio>
                                                        <v-radio label="Regular"
                                                                 value="regular"></v-radio>
                                                    </v-radio-group>
                                                    <v-checkbox label="Add clear icon"
                                                                v-if="fields(item.id).clearIcon"
                                                                v-model="fArray[index].data.clearable"></v-checkbox>
                                                </div>
                                                <div>
                                                    <v-checkbox label="Required"
                                                                v-model="fArray[index].data.validation_required"
                                                                v-if="fields(item.id).required"></v-checkbox>
                                                    <v-radio-group v-if="fields(item.id).validation"
                                                                   v-model="fArray[index].data.validation_type">
                                                        <v-radio label="None"
                                                                 value="null"></v-radio>
                                                        <v-radio label="Email Address"
                                                                 value="email"></v-radio>
                                                        <v-radio label="Phone Number"
                                                                 value="phone"></v-radio>
                                                    </v-radio-group>
                                                </div>
                                            </div>
                                            <div v-if="item.id === ItemTypes.MULTI_CHOICE">
                                                <span class="subheading">Options</span>
                                                <v-btn @click="item.data.choices.push({text:''})">
                                                    <v-icon>add</v-icon>
                                                    Add Option
                                                </v-btn>
                                                <v-text-field v-for="(opt, key) in item.data.choices"
                                                              v-model="item.data.choices[key].text"
                                                              :key="key"></v-text-field>
                                            </div>
                                            <div>
                                                <!-- Text align field (at bottom of fields because it looks better) -->
                                                <v-btn-toggle mandatory
                                                              v-model="fArray[index].data.textAlign">
                                                    <v-btn :key="align.id"
                                                           flat
                                                           v-for="align in questionSpecificData.textAlign">
                                                        <v-icon>{{ align.icon }}</v-icon>
                                                    </v-btn>
                                                </v-btn-toggle>
                                            </div>
                                            <div class="bottom">
                                                <v-btn @click="menus[item.data.uuid] = false"
                                                       color="primary">Done
                                                </v-btn>
                                                <v-btn @click="removeQuestion(item.data.uuid);menus[item.data.uuid] = false"
                                                       class="red white--text">
                                                    Delete
                                                </v-btn>
                                            </div>
                                        </v-card-text>
                                    </v-card>
                                </v-menu>
                            </v-flex>
                        </draggable>
                    </v-form>
                    <div v-else>
                        <!-- RESPONSES (only viewable if owner and user visited /responses -->
                        <span class="subheading font-weight-bold">Responses</span>
                        <br>
                        <v-btn-toggle v-model="responseView"
                                      v-if="this.sheetData.submissions.length > 0"
                                      class="d-inline-block">
                            <v-btn flat
                                   value="summary">Summary
                            </v-btn>
                            <v-btn flat
                                   value="individual">Individual
                            </v-btn>
                        </v-btn-toggle>
                        <v-divider class="mb-5 mt-5"></v-divider>
                        <div v-if="responseView === 'summary' && this.sheetData.submissions.length > 0">
                            <div v-for="(value, key) in responses"
                                 :key="key">
                                <div v-if="getQuestionData(key).id !== -9999">
                                    <p>{{getQuestionData(key).data.text}}</p>
                                    <v-list two-line>
                                        <v-list-tile v-for="(answer, key) in value"
                                                     class="auto-height"
                                                     :key="key">
                                            <QuestionRender :data="getQuestionData(key)"
                                                            :mode="$route.params.mode"
                                                            :questionSpecificData="questionSpecificData"
                                                            :inputs="generatePseudoInputs(key, answer)"
                                                            @inputUpdate="updateInputs"></QuestionRender>
                                        </v-list-tile>
                                    </v-list>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="responseView === 'individual' && this.sheetData.submissions.length > 0">
                            <v-pagination v-model="responseIndex"
                                          :length="responseLength"></v-pagination>
                            <br>
                            <blockquote class="blockquote text-xs-left">
                                <span class="font-weight-bold">Submitted By</span>
                                :
                                <br>
                                {{(this.sheetData.submissions[responseIndex - 1].__submittedBy_name) || 'Unknown Name'}}
                                <br>
                                {{this.sheetData.submissions[responseIndex - 1].__submittedBy_email || 'Unknown Email'}}
                                <br>
                                on {{getSubmitDateString(this.sheetData.submissions[responseIndex - 1])}}
                            </blockquote>
                            <div v-for="(question, index) in this.sheetData.submissions[responseIndex - 1]"
                                 :key="index">
                                <QuestionRender :data="getQuestionData(index)"
                                                :mode="$route.params.mode"
                                                :questionSpecificData="questionSpecificData"
                                                :inputs="generatePseudoInputs(index, question)"
                                                :key="responseIndex"
                                                :ref="'riq' + responseIndex + index"
                                                @inputUpdate="updateInputs"></QuestionRender>
                            </div>
                        </div>
                        <div v-else>
                            <span class="headline d-block">Oops!</span>
                            <span class="subheading d-block">You don't have any responses yet! Share your form with people to see responses here.</span>
                        </div>
                    </div>
                    <v-btn @click="submit"
                           v-if="viewing && !responseViewing">Submit
                    </v-btn>
                </div>
                <div v-else-if="!loadErr">
                    <v-progress-linear indeterminate></v-progress-linear>
                    <h1>Loading...</h1>
                </div>
                <div v-else>
                    <h1>There was a problem.</h1>
                    <h2>{{ loadErr }}</h2>
                    <p>
                        <router-link to="/studio/all">Go to my worksheets</router-link>
                    </p>
                    <pre>
                        <code>Code: {{ loadErrCode }}</code>
                    </pre>
                </div>
            </v-flex>
        </v-container>
    </v-app>
</template>

<script>
	import ITPs from "./studio/ItemTypes";
	import draggable from "vuedraggable";
	import QuestionRender from "./studio/QuestionRender";
	
	import * as firebase from "firebase/app";
	import "firebase/firestore";
	
	const ItemTypes = ITPs.ItemTypes;
	
	export default {
		name: 'wstudio',
		components: {
			QuestionRender,
			draggable
		},
		methods: {
			getSubmitDateString(submission) {
				let date = new Date(submission.__submitTimestamp);
				return date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
			},
			generatePseudoInputs(key, value) {
				let inputs = {};
				inputs[key] = value;
				return inputs;
			},
			updateInputs(newKey, newVal) {
				if(newKey && newVal) {
					this.inputs[newKey] = newVal;
				}
			},
			inArray(haystack, needle) {
				for(let item in haystack) {
					if(haystack.hasOwnProperty(item)) {
						if((haystack[item] === needle) || (item === needle)) {
							return true;
						}
					}
				}
				return false;
			},
			iterate(over, func) {
				for(let item in over) {
					if(over.hasOwnProperty(item)) {
						func(item);
					}
				}
			},
			submit() {
				if(this.$refs.form.validate()) {
					let inputs = this.inputs;
					let user = this.$attrs.user;
					if(user) {
						inputs.__submittedBy_name = user.displayName;
						inputs.__submittedBy_uid = user.uid;
						inputs.__submittedBy_email = user.email;
					}
					inputs.__submitTimestamp = new Date().toISOString();
					db.collection("worksheets").doc(this.$route.params.id).update({
						"submissions": firebase.firestore.FieldValue.arrayUnion(JSON.parse(JSON.stringify(inputs)))
					}).then(()=>{
						this.reloadTo("submitted");
					}).catch((err)=>{
						//TODO: Show a dialog that says there was an error.
					});
				}
			},
			fields(id) {
				return ITPs.fields(id);
			},
			getQN(qid) {
				return ITPs.TypeNames[qid];
			},
			randomChar() {
				let chars = 'abcdefghijklmnopqrstuvwxyz1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%^&*(){}[]/\\,.<>'.split('');
				return chars[Math.floor(Math.random() * chars.length)]
			},
			generateUUID() {
				return "sssss/sssss/sssss/sssss/sssss".replace(/s/g, this.randomChar);
			},
			addQuestion(id) {
				if(id !== ItemTypes.CLOSE_DIALOG) {
					if(this.state == null) this.state = [];
					let gKey = -1;
					for(let prop in this.state) {
						if(this.state.hasOwnProperty(prop)) {
							if(parseInt(prop) > gKey) {
								gKey = prop;
							}
						}
					}
					this.state[parseInt(gKey) + 1] = {};
					this.state[parseInt(gKey) + 1]["data"] = this.getDataPlaceholder(id);
					this.state[parseInt(gKey) + 1]["id"] = id;
				}
				//Update firebase- and draggable-formatted arrays so we can drag and save this new question, not just see it in `state`.
				this.updateAllArrays();
				this.newQ = false;
			},
			removeQuestion(uuid) {
				for(let key in this.state) {
					if(this.state.hasOwnProperty(key)) {
						if(this.state[key].data.uuid === uuid) {
							delete this.state[key];
							this.updateAllArrays();
							return;
						}
					}
				}
			},
			updateAllArrays() {
				this.state = this.sheetData.questions;
				this.dArray = this.toDraggableFormat(this.state);
				window.dFormat = this.toDraggableFormat(this.state);
				
				this.layout.cols = this.sheetData.cols;
				this.layout.colClass = (12 / parseInt(this.sheetData.cols));
				this.layout.props = {
					"xs12": true,
					"sm12": true,
					"md12": this.layout.colClass === 12,
					"md6": this.layout.colClass === 6,
					"md4": this.layout.colClass === 4,
					"md3": this.layout.colClass === 3,
					"md2": this.layout.colClass === 2,
					"md1": this.layout.colClass === 1,
				};
				
				for(let item in this.state) {
					if(this.state.hasOwnProperty(item)) {
						this.menus[item.uuid] = false;
					}
				}
				for(let item in this.sheetData.submissions) {
					/* Loop over every response */
					if(this.sheetData.submissions.hasOwnProperty(item)) {
						for(let q in this.sheetData.submissions[item]) {
							/* Loop over every question */
							if(this.sheetData.submissions[item].hasOwnProperty(q)) {
								let qUUID = q;
								let qRESP = this.sheetData.submissions[item][qUUID];
								if(!this.responses[qUUID]) this.responses[qUUID] = [];
								this.responses[qUUID].push(qRESP);
							}
						}
					}
				}
				if(!this.sheetData.submissions) this.sheetData.submissions = {};
				this.responseLength = Object.keys((this.sheetData.submissions)).length;
			},
			reloadTo(route) {
				let href = window.location.href;
				window.location.href = href.substr(0, href.lastIndexOf("/")) + "/" + route;
				location.reload();
			},
			getQuestionData(uuid) {
				for(let q in this.sheetData.questions) {
					if(this.sheetData.questions.hasOwnProperty(q)) {
						if(uuid === this.sheetData.questions[q].data.uuid) {
							return this.sheetData.questions[q];
						}
					}
				}
				return {data: {uuid: "0000-0000-0000-0000", text: "[Unknown Question]"}, id: -9999}
			},
			toDraggableFormat(state) {
				let dArray = [];
				for(let item in state) {
					if(state.hasOwnProperty(item)) {
						dArray.push(state[item]);
					}
				}
				return dArray;
			},
			fromDraggableFormat(state) {
				let fArray = {};
				let count = 0;
				for(let item in state) {
					if(state.hasOwnProperty(item)) {
						fArray["" + count] = state[item];
						count++;
					}
				}
				return fArray;
			},
			getDataPlaceholder(id) {
				let data = ITPs.getDataPlaceholder(id);
				data.uuid = this.generateUUID();
				return data;
			},
			saveWorksheetOnServer() {
				this.saving = true;
				let id = this.$route.params.id;
				let state = this.state;
				let doc = window.db.collection("worksheets").doc(id);
				doc.update({
					questions: Object.assign({}, state),
					title: this.sheetData.title || "Untitled Worksheet",
					cols: this.sheetData.cols || 1,
				}).then(()=>{
					this.saving = false;
					this.savingDone = true;
				});
			}
		},
		data() {
			return {
				document: document,
				debug: false,
				ItemTypes: ItemTypes,
				savingDone: false,
				newQ: false,
				menus: {},
				qTypes: ITPs.qTypes,
				questionSpecificData: {
					"color": [
						{text: "Black", value: "black", id: 0},
						{text: "(Primary Color)", value: "primary", id: 1},
						{text: "(Default)", value: "", id: 2},
						{text: "Blue", value: "blue", id: 3},
						{text: "Red", value: "red", id: 4},
						{text: "White", value: "white", id: 5},
					],
					"textAlign": [
						{icon: "format_align_left", class: "text-xs-left", id: 0},
						{icon: "format_align_center", class: "text-xs-center", id: 1},
						{icon: "format_align_right", class: "text-xs-right", id: 2},
					],
					"validation": {
						"hints": {
							"email": "Enter a valid email address.",
							"phone": "Enter a valid phone number.",
						}
					}
				},
				state: null,
				loadErr: null,
				loadErrCode: 200,
				sheetData: null,
				saving: false,
				layout: {},
				
				fArray: {},
				dArray: [],
				isOwner: false,
				
				inputs: {},
				
				viewing: this.$route.params.mode === 'view',
				editing: this.$route.params.mode === 'edit',
				responseViewing: this.$route.params.mode === 'submissions',
				
				responseView: "individual",
				responses: {},
				responseIndex: 1,
				responseLength: -1,
			}
		}, created() {
			window.onbeforeunload = undefined;
			let id = this.$route.params.id;
			let mode = this.$route.params.mode;
			
			if(mode === 'edit') {
				this.editing = true;
				this.viewing = false;
			} else if(mode === 'view') {
				this.editing = false;
				this.viewing = true;
			} else if(mode === 'submissions') {
				this.viewing = true;
				this.editing = false;
				this.submissionViewing = true;
			}
			
			//eslint-disable-next-line
			db.collection("worksheets").doc(id).get().then((doc)=>{
				if(doc.exists) {
					window.doc = doc;
					this.sheetData = doc.data();
					
					let owner = this.sheetData.owner;
					let uid = this.$attrs.user.uid;
					this.isOwner = (this.sheetData.owner === this.$attrs.user.uid);
					if(this.editing || this.submissionViewing) {
						if(owner === uid) {
							// Is owner, can edit.
						} else {
							//Not owner, can't edit something that is not theirs!
							this.reloadTo("view");
						}
					}
					if(this.viewing) {
						this.iterate(this.sheetData.questions, (item)=>{
							this.inputs[this.sheetData.questions[item].data.uuid] = "";
						});
					}
					
					this.updateAllArrays();
				} else {
					this.loadErr = "That worksheet does not exist!";
					this.loadErrCode = 404;
				}
			});
			this.$watch('sheetData', function() {
				this.savingDone = false;
			}, {deep: true})
		}, watch: {
			/* Variables on the Vue instance to watch */
			dArray: function(newVal) {
				let fdf = this.fromDraggableFormat(newVal);
				this.fArray = fdf;
				this.state = fdf;
				this.sheetData.questions = fdf;
				window.dArray = newVal;
			},
			state: function(newVal) {
				//When the questions get updated, make the save no longer "done" so the user can click the button (and save) again
				this.savingDone = false;
				window.state = newVal;
			}
		}
	}
</script>

<style type="text/css"
       scoped>
    .auto-height > * {
        height: auto;
    }
    
    .full-width {
        width: 100% !important;
    }
    
    .v-menu__activator * {
        /* Before this fix, the cursor would be set to `pointer`, even if the menu was disabled. We don't want this. */
        cursor: auto !important;
    }
    
    .v-menu__content {
        right: 0 !important;
        left: unset !important;
        min-width: unset !important;
    }
    
    blockquote.blockquote {
        border-left: 4px solid rgba(30, 144, 255, 0.8);
        background-color: rgba(30, 144, 255, 0.1);
        padding: 20px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
</style>