<template>
    <div id="app" v-cloak>
        <v-app :dark="theme">
            <nav>
                <v-navigation-drawer absolute temporary v-model="drawer">
                    <div v-if="signedIn">
                        <v-list class="pa-1">
                            <v-list-tile avatar>
                                <v-list-tile-avatar>
                                    <img :src="user.photoURL" v-if="user.photoURL" alt="User Profile Picture">
                                    <v-icon large v-else>account_circle</v-icon>
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title v-if="!user.displayName">{{ user.email ||
                                        user.providerData[0].phoneNumber }}
                                    </v-list-tile-title>
                                    <div v-else>
                                        <v-list-tile-title>{{ user.displayName }}</v-list-tile-title>
                                        <v-list-tile-sub-title>{{ user.email || user.providerData[0].phoneNumber }}
                                        </v-list-tile-sub-title>
                                    </div>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                        <v-divider></v-divider>
                    </div>
                    <v-list class="pt-0" dense>
                        <div :key="item.title" v-for="item in items">
                            <v-list-tile @click="pushAndCloseDrawer(item.href)"
                                         ripple
                                         v-if="item.show() === true">
                                <v-list-tile-action ripple>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-tile-action>

                                <v-list-tile-content ripple>
                                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </div>
                        <v-list-tile ripple>
                            <v-list-tile-action>
                                <v-switch v-model="theme"></v-switch>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Dark Theme</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>
                <v-toolbar color="primary">
                    <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
                    <v-toolbar-title><router-link to="/index"><img src="Sapphire_Favicon.png" alt="Sapphire S logo with sapphire texture applied" width="56" height="56"></router-link></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>

                    </v-toolbar-items>
                </v-toolbar>
            </nav>
            <main>
                <router-view :signedIn="signedIn" :user="user" :theme="theme" :themeStr="themeStr"></router-view>
            </main>
            <!--
            <v-footer height="auto" color="indigo">
                <v-layout justify-center row wrap>
                    <v-btn v-for="link in links" :key="link" color="white" flat round>
                        {{ link }}
                    </v-btn>
                    <v-flex primary lighten-2 py-3 text-xs-center white--text xs12>
                        &copy;{{ new Date().getFullYear() }} —
                        <strong>{{ legalEntityName }}</strong>
                    </v-flex>
                </v-layout>
            </v-footer>
            -->
        </v-app>
    </div>

</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                drawer: false,
                theme: false,
                items: [
                    {icon: "home", title: "Home", href: "/", show: () => true},
                    {icon: "assignment", title: "New Worksheet", href: "/studio/new", show: () => this.signedIn},
                    {
                        icon: "assignment_turned_in",
                        title: "My Worksheets",
                        href: "/studio/all",
                        show: () => this.signedIn
                    },
                    {icon: "person_add", title: "Sign In", href: "/sign-in", show: () => !this.signedIn},
                    {icon: "person_outline", title: "Sign Out", href: "/logout", show: () => this.signedIn},
                ],
                //eslint-disable-next-line
                user: firebase.auth().currentUser,
                signedIn: null,
                legalEntityName: "WorksheetCreator",
                footerBigText: "",
                links: ["Home", "About", "ToS", "Privacy"],

                themeStr: "dark"
            }
        }, created: function () {
            this.$cookies.config('30d');
            if (this.$cookies.isKey("theme")) {
                this.theme = (this.$cookies.get("theme") === 'true');
                this.themeStr = (this.theme === true) ? "dark" : "light";
            }
            //eslint-disable-next-line
            if (!firebase.auth().currentUser) {
                this.user = {};
                this.signedIn = false;
            } else this.signedIn = true;
        }, watch: {
            theme: function (newVal) {
                this.$cookies.set('theme', newVal);
                this.themeStr = (this.theme === true) ? "dark" : "light";
            }
        }, methods: {
            reload() {
                this.$router.go();
            },
            pushAndCloseDrawer(route) {
                this.drawer = false;
                this.$router.push(route);
            }
        }
    }
</script>

<style>
    [v-cloak] {
        display: none;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        height: 100%;
        overflow-y: visible;
    }

    #app main {
        margin-top: 20px;
    }

    #app footer {
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
    }
</style>
