<template>
    <main>
        <h1>Your Worksheets</h1>
        <v-btn @click="$router.push('/studio/new')"
               color="primary">New
        </v-btn>
        <div v-if="loading">
            <v-progress-circular indeterminate></v-progress-circular>
        </div>
        <div v-else-if="worksheets.length > 0">
            <v-flex lg4
                    md6
                    v-for="(sheet, key) in worksheets"
                    xl3
                    :key="key">
                <router-link :to="sheet.link"
                             class="text-black">
                    <v-card>
                        <v-card-title>
                            <h2>{{sheet.title || "[Untitled Worksheet]"}}</h2>
                        </v-card-title>
                        <v-card-text>
                            <b>{{Object.keys(sheet.questions).length}}</b>
                            Question{{ (Object.keys(sheet.questions).length !== 1 ? 's' : '') }}
                        </v-card-text>
                    </v-card>
                </router-link>
            </v-flex>
        </div>
        <div v-else>
            <p>You haven't created any worksheets yet! Click the new button to make one.</p>
        </div>
    </main>
</template>

<script>
    import * as firebase from "firebase/app";
    import "firebase/firestore";
    
    
	export default {
		name: "AllWorkSheets",
		props: ['user', 'signedIn'],
		data() {
			return {
				worksheets: [],
				loading: true,
			}
		},
		mounted: function() {
			if(this.$props.signedIn) {
				db.collection("worksheets").where("owner", "==", this.$props.user.uid).get().then((querySnapshot)=>{
					querySnapshot.forEach((doc)=>{
						this.worksheets.push(doc.data());
						this.worksheets[this.worksheets.length - 1].docID = doc.id;
						this.worksheets[this.worksheets.length - 1].link = "/ws/" + doc.id + "/edit";
					});
					this.loading = false;
				});
			} else {
				this.$router.push("/sign-in");
			}
		}
	}
</script>

<style scoped>

</style>