<template>
	<main>
		<v-container>
			<h1>New Worksheet</h1>
			<v-text-field label="Title" v-model="title" outline></v-text-field>
			<v-btn @click="createWorksheet()" color="primary">Create</v-btn>
		</v-container>
	</main>
</template>

<script>
	import * as firebase from "firebase/app";
	import "firebase/firestore";
	
	export default {
		name: "NewWorkSheet",
		data() {
			return {
				title: ""
			}
		}, methods: {
			createWorksheet() {
				//eslint-disable-next-line no-undef
				db.collection("worksheets").add({
					cols: 1,
					title: this.title,
					questions: {},
					owner: this.$attrs.user.uid,
				}).then((docRef) => {
					this.$router.push("/ws/" + docRef.id + "/edit");
				//eslint-disable-next-line no-unused-vars
				}).catch((err) => {
					//TODO: Show dialog that says there was a problem making the worksheet.
				});
			}
		}, created() {
			if(!this.$attrs.signedIn) {
				this.$router.push("/sign-in");
			}
		}
	}
</script>

<style scoped>

</style>