<template>
    <div class="question full-width"
         v-if="item.id !== -9999">
        <!-- Short Text -->
        <div v-if="item.id === ItemTypes.SHORT_TEXT">
            <p :class="item.data.textColor+'--text ' + item.data.bgColor + ' ' + questionSpecificData.textAlign[(item.data.textAlign || 0)].class">
                {{ item.data.text || item.data.placeholderText}}
            </p>
        </div>
        <div class="full-width"
             v-else-if="item.id === ItemTypes.SHORT_ANSWER">
            <p :class="item.data.textColor+'--text ' + item.data.bgColor + ' ' + questionSpecificData.textAlign[(item.data.textAlign || 0)].class + ' full-width'"
               v-if="!submissionViewing">
                {{ item.data.text || item.data.placeholderText}}
                <span v-if="item.data.validation_required"
                      class="red--text">*
                </span>
            </p>
            <v-text-field :box="item.data.answerFieldStyle === 'box'"
                          :clearable="item.data.clearable && !submissionViewing"
                          :disabled="disable"
                          :hint="questionSpecificData.validation.hints[item.data.validation_type]"
                          :mask="item.data.validation_type === 'phone' ? 'phone' : undefined"
                          :outline="item.data.answerFieldStyle === 'outline'"
                          :placeholder="item.data.answerPlaceholderText"
                          :required="item.data.validate_required"
                          :rules="getValidationRules(item.data)"
                          :solo="item.data.answerFieldStyle === 'solo'"
                          class="auto-width"
                          persistant-hint
                          v-model="inputs[item.data.uuid]"></v-text-field>
        </div>
        <div class="full-width"
             v-else-if="item.id === ItemTypes.LONG_ANSWER">
            <p :class="item.data.textColor+'--text ' + item.data.bgColor + ' ' + questionSpecificData.textAlign[(item.data.textAlign || 0)].class + ' full-width'">
                {{ item.data.text || item.data.placeholderText}}
                <span v-if="item.data.validation_required"
                      class="red--text">*
                </span>
            </p>
            <v-textarea :hint="questionSpecificData.validation.hints[item.data.validation_type]"
                        :box="item.data.answerFieldStyle === 'box' && !submissionViewing"
                        :outline="item.data.answerFieldStyle === 'outline' || submissionViewing"
                        :solo="item.data.answerFieldStyle === 'solo' && !submissionViewing"
                        :placeholder="item.data.answerPlaceholderText"
                        :required="item.data.validate_required"
                        :rules="getValidationRules(item.data)"
                        :disabled="disable"
                        class="full-width"
                        persistant-hint
                        v-model="inputs[item.data.uuid]"
                        @change="inputEvt"></v-textarea>
        </div>
        <div v-else-if="item.id === ItemTypes.CHECKBOX"
             class="full-width">
            <v-checkbox :rules="getValidationRules(item.data)"
                        :disabled="disable"
                        v-model="inputs[item.data.uuid]"
                        @change="inputEvt">
                <div slot="label">{{ item.data.text || item.data.placeholderText }}
                    <span v-if="item.data.validation_required"
                          class="red--text">*
                    </span>
                </div>
            </v-checkbox>
        </div>
        <div v-else-if="item.id === ItemTypes.MULTI_CHOICE">
            <p :class="item.data.textColor+'--text ' + item.data.bgColor + ' ' + questionSpecificData.textAlign[(item.data.textAlign || 0)].class + ' full-width'">
                {{ item.data.text || item.data.placeholderText}}
                <span v-if="item.data.validation_required"
                      class="red--text">*
                </span>
            </p>
            <v-radio-group :mandatory="item.data.validation_required"
                           :rules="getValidationRules(item.data)"
                           v-model="inputs[item.data.uuid]"
                           :disabled="disable"
                           @change="inputEvt">
                <v-radio v-for="(radio, key) in item.data.choices"
                         :required="item.data.validation_required"
                         :key="key"
                         :value="radio.text">
                    <div slot="label">{{radio.text}}</div>
                </v-radio>
            </v-radio-group>
        </div>
        <div v-else>
            <h2>Well, that's strange...</h2>
            <p>We couldn't find that kind of question!</p>
            <code>Code: 404-2-{{ item.id }}</code>
        </div>
    </div>
</template>

<script>
	import ItemTypes from "./ItemTypes";
	
	export default {
		name: "QuestionRender",
		data() {
			return {
				item: this.$attrs.data,
				inputs: this.$attrs.inputs,
				ItemTypes: ItemTypes.ItemTypes,
				editing: this.$attrs.mode === 'edit',
				viewing: this.$attrs.mode === 'view',
				submissionViewing: this.$attrs.mode === 'submissions',
				questionSpecificData: this.$attrs.questionSpecificData,
				disable: false,
			}
		}, methods: {
			inputEvt: function(newVal) {
				let newKey = this.item.data.uuid;
				this.$emit('inputUpdate', newKey, newVal);
			},
			getValidationRules(q) {
				let rules = [];
				if(q.validation_required) {
					rules.push(v=>!!v || 'This field is required.');
				}
				if(q.validation_type) {
					switch(q.validation_type) {
						case 'email':
							rules.push(v=>/.+@.+/.test(v) || 'This must be a valid email address.');
							break;
						case 'phone':
							rules.push(v=>/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/.test(v) || 'This must be a valid phone number.');
							break;
					}
				}
				return rules;
			},
		}, created() {
			this.disable = (this.editing || this.submissionViewing);
		}, mounted() {
			//Sort the colors by the name
			this.questionSpecificData.color.sort((a, b)=>{
				if(a.text.toUpperCase() > b.text.toUpperCase()) {
					return 1;
				} else if(a.text.toUpperCase() < b.text.toUpperCase()) {
					return -1;
				}
				return 0;
			});
		}, watch: {
			inputs: function(newVal) {
				this.$emit("updateInputs", newVal);
			}
		}
	}
</script>

<style scoped>

</style>